.carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;

}

.card {
    margin: auto;
    width: 80% !important;
    height: 200px !important;
}

#mainContent {
    margin-left: 350px;
    padding-top: 75px;
    margin-bottom: 50px;
    margin-right: 10px;
}


#body2 {
    padding: 0;
    width: 100%;
}

header {
    z-index: 2;
}

#sidenav {
    height: 100%;
    max-width: 350px;
}





@media (width < 1200px) {
    #mainContent {
        margin-left: 250px;
    }
}


@media only screen and (max-width: 992px) {
    #mainContent {
        margin-left: 170px;
    }

    .sidenav {
        width: 150px !important;
    }

    body {
        font-size: 25px !important;
    }

    #mainContent {
        margin-bottom: 75px;
        padding-top: 100px;
    }

}
